<div class="container-fluid" *ngIf="_componentRoute == 'IA'" >
  <div class=" row mt-5 justify-content-center">
      <div class="col-2 ml-5">
          <div class="shadow-lg p-3 rounded col-12">
              <div id="imgIBMWatson">
                  <img src="./../../../assets/img/ibmwatson.png" alt="IBM Watson">
              </div>
              <div id="txtIBMWatson">
                  <p>IBM Watson</p>
              </div>
          </div>
      </div>

      <div class="row col-2 ml-5">
              <div class="shadow-lg p-3 rounded col-12">
                  <div id="imgmicrosoftLuis">
                      <img src="./../../../assets/img/microsoftLuis.png" alt="Microsoft LUIS">
                  </div>
                  <div id="txtmicrosoftLuis">
                      <p>Microsoft LUIS</p>
                  </div>
              </div>
        </div>
    </div>
</div>
