<div class="container-fluid" *ngIf="_componentRoute == 'aprovacoes'" >
    <div class=" row mt-5 justify-content-center">
      <div class="col-3 ml-3">
          <div class="shadow-lg p-3 rounded col-12">
            <img src="./../../../assets/icons/baloon.svg" class="row icones-sm mr-2">
            <small class=" caixa-txt-1 row mt-2">Financiamento de veiculos</small>
            <small class="text-success row mt-2">Aprovado</small>
            <small class="text-secondary mt-2 row">desde 11/03/2017</small>
        </div>
      </div>
      <div class="row col-3 ml-3">
        <div class="text-center shadow-lg p-3 rounded col-12">
            <img src="./../../../assets/icons/baloon.svg" class="row icones-sm mr-2">
            <small class="caixa-txt-1 row mt-2">Credito Consignado</small>
            <small class="text-primary mt-2 row">Em aprovacao</small>
            <small class="text-secondary mt-2 row">desde 11/03/2017</small>
        </div>
      </div>
      <div class="row col-3 ml-3">
          <div class="text-center shadow-lg p-3 rounded col-12">
            <img src="./../../../assets/icons/baloon.svg" class="row icones-sm mr-2">
            <small class="caixa-txt-1 row mt-2">Antecipação de IR</small>
            <small class="text-danger mt-2 row">Reprovado</small>
            <small class="text-secondary mt-2 row">desde 11/03/2017</small>
        </div>
      </div>
    </div>
  </div>