<div class="container-fluid" *ngIf="_componentRoute == 'analise'" >
        <div class=" row mt-5 justify-content-center">
                <div class="col-2 ml-5">
                    <div class="shadow-lg p-3 rounded col-12">
                        <div id="txtPeriodo">
                            <p>Periodo:</p>
                        </div>
                    </div>
                </div>
        </div>

        <div class=" row mt-5 justify-content-center">
                <div class="row col-3 ml-5">
                        <div class="shadow-lg p-3 rounded col-12">
                            <div class="card">
                                <h5 class="card-header" id="txtMensagens">Usuário Ativos</h5>
                                <div  class="card-body" id="txtEnvRec">
                                <p class="card-text">Usuário Ativos</p>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="row col-3 ml-5">
                        <div class="shadow-lg p-3 rounded col-12">
                            <div class="card">
                                <h5 class="card-header" id="txtMensagens">Mensagens</h5>
                                <div  class="card-body" id="txtEnvRec">
                                <p class="card-text">Enviados</p>
                                <p class="card-text">Recebidos</p>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="row col-3 ml-5">
                        <div class="shadow-lg p-3 rounded col-12">
                            <div class="card">
                                <h5 class="card-header" id="txtMensagens">Tempo médio de resposta</h5>
                                <div  class="card-body" id="txtEnvRec">
                                <p class="card-text">Segundos(últimos 3 dias)</p>
                                </div>
                            </div>
                        </div>
                </div>
        </div>

        <div class=" row mt-5 justify-content-center">
            <div class="row col-9 ml-10">
                <div class="shadow-lg p-3 rounded col-12">
                    <div class="card">
                            <h5 class="card-header">Usuários ativos por dia</h5>
                            <div class="card-body">
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>
