<div class="container-fluid" *ngIf="_componentRoute == 'redesocial'" >
    <div class=" row mt-5 justify-content-center">
        <div class="col-2 ml-5">
            <div class="shadow-lg p-3 rounded col-12">
                <div id="imgfacebook">
                    <img src="./../../../assets/img/facebook.png" alt="facebook">
                </div>
                <div id="txtfacebook">
                    <p>Facebook</p>
                </div>
            </div>
        </div>

        <div class="row col-2 ml-5">
                <div class="shadow-lg p-3 rounded col-12">
                    <div id="imgtelegram">
                        <img src="./../../../assets/img/telegram.png" alt="Telegram">
                    </div>
                    <div id="txttelegram">
                        <p>Telegram</p>
                    </div>
                </div>
        </div>

        <div class="row col-2 ml-5">
                <div class="shadow-lg p-3 rounded col-12">
                    <div id="imgtwitter">
                        <img src="./../../../assets/img/twitter.png" alt="Twitter">
                    </div>
                    <div id="txttwitter">
                        <p>Twitter</p>
                    </div>
                </div>
        </div>
    </div>

    <div class=" row mt-5 justify-content-center">
        <div class="row col-2 ml-5">
                <div class="shadow-lg p-3 rounded col-12">
                    <div id="imgskype">
                        <img src="./../../../assets/img/skype.png" alt="Skype">
                    </div>
                    <div id="txtskype">
                        <p>Skype</p>
                    </div>
                </div>
        </div>

        <div class="row col-2 ml-5">
                <div class="shadow-lg p-3 rounded col-12">
                    <div id="imgmicroteams">
                        <img src="./../../../assets/img/MicrosoftTeams.png" alt="Microsoft Teams">
                    </div>
                    <div id="txtmicroteams">
                        <p>Microsoft Teams</p>
                    </div>
                </div>
        </div>
    </div>  
</div>



