<div class="" *ngIf="_componentRoute == 'perfis'" >
    <div class=" row mt-5 justify-content-center" [ngStyle]="estiloPerfil">
      <div class="row col-3" >
          <div class="shadow-lg p-3 caixa rounded col-12">
            <label for="label1" class="caixa-txt-2 col-10">USUARIOS:</label>
            <div class="shadow-lg p-3 bg-white rounded col-11 mt-2">
              <img src="./../../../assets/icons/baloon.svg" class="icones-sm mr-2">
              <small class="text-center caixa-txt-1 ">Financiamento de veiculos</small>
          </div>
          <div class="shadow-lg p-3 bg-white rounded col-11 mt-2"> 
              <img src="./../../../assets/icons/baloon.svg" class="icones-sm mr-2">
              <small class="text-center caixa-txt-1 ">Credito Consignado</small>
          </div>
          <div class="shadow-lg p-3 bg-white rounded col-11 mt-2">
              <img src="./../../../assets/icons/baloon.svg" class="icones-sm mr-2">
              <small class="text-center caixa-txt-1 ">Antecipação de IR</small>
          </div>
          <div class="shadow-lg p-3 bg-white rounded col-11 mt-2 mb-3">
              <img src="./../../../assets/icons/baloon.svg" class="icones-sm mr-2">
              <small class="text-center caixa-txt-1 ">ConstruCard</small>
          </div>
        </div>
      </div>
      <div class="row col-3 ml-3">
        <div class="shadow-lg p-3 caixa rounded col-12">
            <label for="label2" class="caixa-txt-2 col-10">Gestores Nacionais:</label>
            <div class="shadow-lg p-3 bg-white rounded col-11 mt-2">
                <img src="./../../../assets/icons/baloon.svg" class="icones-sm mr-2">
                <small class="text-center caixa-txt-1 ">Financiamento de veiculos</small>
            </div>
            <div class="shadow-lg p-3 bg-white rounded col-11 mt-2">
                <img src="./../../../assets/icons/baloon.svg" class="icones-sm mr-2">
                <small class="text-center caixa-txt-1 ">Credito Consignado</small>
            </div>
        </div>
      </div>
      <div class="row col-3 ml-3">
          <div class="shadow-lg p-3 caixa rounded col-12">
            <label for="label3" class="caixa-txt-2 col-10">Residencial:</label>
            <div class="shadow-lg p-3 bg-white rounded col-11 mt-2">
                <img src="./../../../assets/icons/baloon.svg" class="icones-sm mr-2">
                <small class="text-center caixa-txt-1 ">ConstruCard</small>
            </div>
        </div>
      </div>
    </div>
</div>